<!DOCTYPE html>
<html>
<head>
	<title>Contacts</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./view/myStyle.css">
</head>
<body>
<div class="container section">
<h3>Contacts info</h3>
	<div class="bg-paragraph">
		<a href="http://cwds.uw.edu/sense"> SENSE info website on UW website - Researchers </a>
	</div>
	<div class="bg-paragraph">
		Bob Landowski
		<br>
		Email: ski0@uw.edu
	</div>
	<div class="bg-paragraph">
		Orlando Baiocchi
		<br>
		Email: baiocchi@uw.edu
	</div>
</div>
</body>
</html>