<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<div class="table-responsive table-div">
		<table class="table table-hover">
			<tr class="danger">
				<th>Time</th>
				<th>Sensor ID</th>
				<th>Sensor Data</th>
				<th>Accelerometer</th>
				<th>Magnetometer</th>
			</tr>
			<tr ng-repeat="data in temp_data" class="active">
				<td>{{data.TIME_ID}}</td>
				<td>{{data.SEN_ID}}</td>
				<td>{{data.SEN_CALC}}</td>
				
			</tr>
		</table>
		<hr>
		<div class="container">
			<button class="btn btn-primary" ng-click="getTemp()">Get Data</button>
		</div>
	</div>
</body>
</html>