<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Data Stream</title>
	<link rel="stylesheet" href="myStyle.css">
</head>
<body>
	<div class="container">
		<section class="sensor-sect">
			<h1> Data from <strong>Temperature</strong> sensor -> </h1>
			<div class="data">Some data</div>
		</section>
		<section class="sensor-sect">
			<h1> Data from Pressure sensor -> </h1>
			<div class="data">Some data</div>
		</section>
		<section class="sensor-sect">
			<h1> Data from Accelerometer -> </h1>
			<div class="data">Some data</div>
		</section>
		<section class="senso-sectr">
			<h1> Data from Magnetometer -> </h1>
			<div class="data">Some data</div>
		</section>
		
	</div>
</body>
</html>