<!DOCTYPE>
<html ng-app="bdapp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./view/myStyle.css">
<title> Bear Drone 2015 </title>
</head>
<body id="index-body" ng-controller="navbarController"> 
<div class="page-container"> <!-- whole body div-->

	<div class="banner-wrap">
		<div id="banner">

		</div>
	</div>
		<!-- start navbar here -->
		
		<div id='nav-wrap' >
			<nav class="navbar navbar-inverse navbar-fixed-top" >
				<div class=" container-fluid">
					<div class="collapse navbar-collapse">
				      <ul class="nav navbar-nav">
				      	<li>
				      		<img id="logo" src="./pictures/bd2.jpg">
				      	</li>
				      	<li>
				      		<img id="teamlogo" src="./pictures/bdtext1.png">
				      	</li>
				        <li><a href="#/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li> 
				        <li><a href="#/background"> Background </a></li>  
				        <li><a href="#/sensors"> Sensors </a></li> 
				        <li><a href="#/test"> How We Test </a></li>
				      </ul>

				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#/team">Team</a></li>
				        <li><a href="#/contacts">Contacts</a></li>
				      </ul>
				     </div>
	   		 	</div>
			</nav>		
		</div>
		<!--    ------------------------             END NAVBAR   -->
		<div id="main-view">
			<div ng-view>
			<!-- different view get injected here -->
			
			</div>
		</div>
	
	
</div> <!-- end container div -->
<!-- ------------------------------------------------FOOTER -->
<footer>
	
		<div class="sticky-footer navbar-fixed-bottom">
			<div>  Sense Research Group © University of Washington Tacoma
			</div>
		</div>
	
</footer>
<!--  --------------------------------------------END FOOTER ------------>
<script type='text/javascript' src='https://code.angularjs.org/1.3.9/angular.min.js'></script>
<script type='text/javascript' src='https://code.angularjs.org/1.3.9/angular-route.js'></script>

<script type='text/javascript' src='controller/controller.js'></script>

</body>

</html>