/* myStyle.css
	@author: Kon Nguyen
*/
/************************************* index.html *****************/
#index-body{
	padding:1%;
	background-image:url('../pictures/cswall.jpg');
	background-position: center center;
	background-size:cover;
	background-color: #464646;
}
h2{
	color: black;
}

.banner-wrap{
	padding:1%;
}
#banner{
	width:100%;
	height:200px;
	background-image:url('../pictures/uwtbanner1.JPG');
	background-position: center center;
	background-size:cover;
	background-color: #464646;
}
#team-banner{
	margin: 0 auto;
  background-color: #ffffff;
  opacity:0.6;
filter:alpha(opacity=60); /* For IE8 and earlier */
}
#team-banner div{
  font-weight: bold;
  color: #000000;
}
#nav-wrap{
	background: black;
	margin: 1px;
}

#logo{
	float:left;
}
#teamlogo{
	float:left;
}
.navbar{
	overflow: hidden;
}
.navbar-right{
	margin-right: 20px;
}

.sticky-footer{
	margin: 0;
	padding: 5px;
	background-color: #282828;
}
.sticky-footer div{
	text-align: center;
	color: #a9a9a9;
	font-family: verdana;
}

/***************************** Datastream *************************/
.data{
	margin: 0 auto;
	padding: 5px;
	font-weight: bold;
	color: #666699;
	
}
table, th, td{
	border: 2px;
	border-collapse: collapse;
	width: 90%;
	background-color: white;
	margin: 0 auto;
}
/*************************** Background *************************/
h3{
	font-family: Georgia;
	padding-left: 10px;
}

.section{
	background-color: #585858;
	padding: 5px;
	margin: 10px;
	opacity: 0.9;
	margin: 1% auto;
}
.bg-paragraph{
	font-size: 15px;
	margin: 0 auto;
	padding: 10px;
	font-family: verdana;
	color: #202020;
}
/*************************** Sensor *************************/
.sensor-sect{
	margin: 0 auto;
	padding: 20px;
	background-color: #CCCCCC;
	opacity: 0.9;
}
/*************************** Test *************************/
/*************************** Team *************************/
/*************************** Contacts *************************/


