<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
</head>
<body class="container-fluid">
<div class="container section">
		<div class='table-responsive'>
			<h3> Sponsors & Advisors</h3>
			<table class="table">
				<tr>
					<td ng-repeat="sponsor in sponsors">
						<img class="pic" src="{{sponsor.icon}}">
						<p class="bg-paragraph">
						{{sponsor.name}} - {{sponsor.role}}
						<a href="{{sponsor.url}}">{{sponsor.url}}</a>
						</p>
					</td>
				</tr>
			</table>
		</div>
		<div class='table-responsive'>
			<h3> Computer Engineer and Systems - Senior Project's team 2015</h3>
				<table class="table">
					<tr>
						<td ng-repeat="member in members">
				          	<div class="picture-div">
				          		<img class="pic" src='{{ member.icon}}'>
				          		<p class="bg-paragraph">{{member.name}}
				          			<br>
				          			{{member.major}}</p>
				          		<a href='{{member.linkedin}}'><img src='./pictures/linkedin.png'></a>
				          	</div>
				      
				          		
				        </td>
					</tr>
				</table>
			
		</div>
	
		<div>
			<h3>Special Thanks: </h3>
			<p class="bg-paragraph"> <strong>
				We would like to thank the great crew of the <a href="http://www.uwal.org/">UWAL Kirsten Wind Tunnel </a> for helping to provide us a way to accurately test our pressure sensor and providing us a unique experience. We would also like to thank our Customer the SENSE Research Group for providing us a unique challenge and to allow us to help with their research. Finally we would like to thank our Advisor Bob Landowski for providing us Students with solid support whenever we needed it and sometimes when we didn’t know we needed it. </strong>
			</p>
		</div>
		
    </div>
</body>
</html>