<!DOCTYPE html>
<html>
<head>
	<title>Testing</title>
</head>
<body>
	<div class="container container-fluid">
		
		<section class="section" ng-repeat="test in tests">
			<div class="bg-paragraph"><h3>{{test.header}}</h3></div>
			<div class="bg-paragraph">
				<div>{{test.description}}</div>
				<div><h4>Plan: </h4>{{test.plan}}</div>
				<div><h4>Expectations:</h4> {{test.expectation}}</div>
				<div><h4>Results:</h4> {{test.result}}</div>
			</div>
			<div><img class="graph" src='{{test.graph}}'></div>
		</section>
		<section class="section" ng-repeat="graph in windtunnels">
			<div class="vid-div"><h4>{{graph.title}}</h4></div>
			<div class="vid-div"><img class="graph" src='{{graph.graph}}'></div>
		</section>
		
	</div>
</body>
</html> 